In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
import numpy as np

In [3]:
fashion = pd.read_csv(r"C:\Users\sweta\Desktop\Jupyter Practice\FashionDataset.csv")

In [4]:
fashion.head()

,Unnamed: 0,BrandName,Deatils,Sizes,MRP,SellPrice,Discount,Category
0,0,life,solid cotton blend collar neck womens a-line d...,"Size:Large,Medium,Small,X-Large,X-Small",Rs\n1699,849,50% off,Westernwear-Women
1,1,only,polyester peter pan collar womens blouson dres...,"Size:34,36,38,40",Rs\n3499,2449,30% off,Westernwear-Women
2,2,fratini,solid polyester blend wide neck womens regular...,"Size:Large,X-Large,XX-Large",Rs\n1199,599,50% off,Westernwear-Women
3,3,zink london,stripes polyester sweetheart neck womens dress...,"Size:Large,Medium,Small,X-Large",Rs\n2299,1379,40% off,Westernwear-Women
4,4,life,regular fit regular length denim womens jeans ...,"Size:26,28,30,32,34,36",Rs\n1699,849,50% off,Westernwear-Women

In [5]:
fashion.isnull().sum()
fashion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30758 entries, 0 to 30757
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  30758 non-null  int64
 1   BrandName   30758 non-null  object
 2   Deatils     30758 non-null  object
 3   Sizes       30758 non-null  object
 4   MRP         30758 non-null  object
 5   SellPrice   30758 non-null  object
 6   Discount    30758 non-null  object
 7   Category    30758 non-null  object
dtypes: int64(1), object(7)
memory usage: 1.9+ MB

In [6]:
fashion.drop("Unnamed: 0", axis = 1, inplace= True)
fashion.drop("Sizes", axis = 1, inplace= True)

In [7]:
fashion.head()

,BrandName,Deatils,MRP,SellPrice,Discount,Category
0,life,solid cotton blend collar neck womens a-line d...,Rs\n1699,849,50% off,Westernwear-Women
1,only,polyester peter pan collar womens blouson dres...,Rs\n3499,2449,30% off,Westernwear-Women
2,fratini,solid polyester blend wide neck womens regular...,Rs\n1199,599,50% off,Westernwear-Women
3,zink london,stripes polyester sweetheart neck womens dress...,Rs\n2299,1379,40% off,Westernwear-Women
4,life,regular fit regular length denim womens jeans ...,Rs\n1699,849,50% off,Westernwear-Women

In [8]:
fashion["MRP"] = fashion["MRP"].str.replace("Rs\n", "")

In [9]:
fashion["MRP"] = fashion["MRP"].replace("NaN", np.NaN)
fashion["MRP"] = fashion["MRP"].replace("Nan", np.NaN)

fashion["MRP"] = fashion["MRP"].dropna(axis = 0)
fashion = fashion.dropna(axis = 0)

In [10]:
fashion.head()

,BrandName,Deatils,MRP,SellPrice,Discount,Category
0,life,solid cotton blend collar neck womens a-line d...,1699,849,50% off,Westernwear-Women
1,only,polyester peter pan collar womens blouson dres...,3499,2449,30% off,Westernwear-Women
2,fratini,solid polyester blend wide neck womens regular...,1199,599,50% off,Westernwear-Women
3,zink london,stripes polyester sweetheart neck womens dress...,2299,1379,40% off,Westernwear-Women
4,life,regular fit regular length denim womens jeans ...,1699,849,50% off,Westernwear-Women

In [11]:
fashion["Discount"] = fashion["Discount"].str.replace("% off", "").astype(int)
fashion["Category"] = fashion["Category"].str.replace("-Women", "")

In [12]:
fashion.head()

,BrandName,Deatils,MRP,SellPrice,Discount,Category
0,life,solid cotton blend collar neck womens a-line d...,1699,849,50,Westernwear
1,only,polyester peter pan collar womens blouson dres...,3499,2449,30,Westernwear
2,fratini,solid polyester blend wide neck womens regular...,1199,599,50,Westernwear
3,zink london,stripes polyester sweetheart neck womens dress...,2299,1379,40,Westernwear
4,life,regular fit regular length denim womens jeans ...,1699,849,50,Westernwear

In [13]:
fashion['MRP'] = fashion['MRP'].astype(int)

In [14]:
fashion['Discount_value'] = fashion['MRP']*0.01*fashion['Discount']

In [15]:
fashion.head()

,BrandName,Deatils,MRP,SellPrice,Discount,Category,Discount_value
0,life,solid cotton blend collar neck womens a-line d...,1699,849,50,Westernwear,849.5
1,only,polyester peter pan collar womens blouson dres...,3499,2449,30,Westernwear,1049.7
2,fratini,solid polyester blend wide neck womens regular...,1199,599,50,Westernwear,599.5
3,zink london,stripes polyester sweetheart neck womens dress...,2299,1379,40,Westernwear,919.6
4,life,regular fit regular length denim womens jeans ...,1699,849,50,Westernwear,849.5

In [16]:
fashion["Category"].unique()

array(['Westernwear', 'Indianwear', 'Lingerie&Nightwear', 'Footwear',
       'Watches', 'Fragrance', 'Jewellery'], dtype=object)

In [17]:
fashion[fashion["Category"] == "Indianwear"]

,BrandName,Deatils,MRP,SellPrice,Discount,Category,Discount_value
10374,stop,solid rayon collar neck womens casual tunic - ...,999,499,50,Indianwear,499.50
10375,infuse,printed round neck cotton flex womens gather d...,1199,479,60,Indianwear,719.40
10376,kashish,solid viscose blend straight fit womens festiv...,799,399,50,Indianwear,399.50
10377,juniper,printed rayon mandarin womens kurta palazzo se...,2999,899,70,Indianwear,2099.30
10378,kashish,embroidered viscose blend round neck womens fe...,3499,1749,50,Indianwear,1749.50
...,...,...,...,...,...,...,...
20742,vastranand,solid zari polyester festive wear womens regul...,3995,1997,50,Indianwear,1997.50
20743,vastranand,floral zari chiffon festive wear womens regula...,3675,2021,45,Indianwear,1653.75
20745,varanga,womens woven maroon and golden zari floral emb...,2199,879,60,Indianwear,1319.40
20746,varanga,gotta patti v- neck silk blend designer womens...,5999,2699,55,Indianwear,3299.45
20747,varanga,mandarin straight designer womens kurtas - cream,3599,1259,65,Indianwear,2339.35

In [18]:
fashion.to_csv("Fashionfinal.csv", index=False)